.tabs {
    background-color: white;
    min-width: 150px;
    border: 2px solid black;
    padding: 1px;
    margin: 1px;

    color: #eb000c;
    text-align: center;

    flex: 1;
    /* display: inline; */
}

.tabs:hover{
    color: black;
    justify-content: center;
}

/* messing with some different layouts */
.tabstrip {
    background-color: black;
    display: flex;
    justify-content: space-evenly;

    /* row-gap: 10px; */
    column-gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: stretch; */

    /* display: grid; */
    /* grid-template-columns: 20% 20% 20%; */
    /* grid-template-areas: ; */
    /* justify-content: space-evenly; */
    /* justify-self: end; */
    /* align-self: center; */
    /* place-items: center; */
}
